h1,h2{
border:0;
font:inherit;
margin:0;

text-align: center
}



.clear {clear: both;}

h1 {
	font-size: 0.8em;
	line-height: 1.4em;
	padding-top:20px;
	color: rgb(255, 255, 255);
}
h2 {
	font-size: 0.5em;
	line-height: 1.4em;
	padding-top:10px;
	color: rgb(255, 255, 255);
}
.container {
	padding: 1px 16px;
}
.alb_img {
	opacity: 1;
	width: 60%;
	height:50%;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 15px;

	
  }
#cv {
	height: 100%;
        margin: 0;
		min-height: 100%; 
	width: 100%;
	position: absolute;
	background: rgb(78, 10, 141);
	
	padding:0;
}

.mainDetails {
	opacity:1;
	border-radius: 30px;
	background: rgb(32, 32, 31);
	width: 200px;
	height: 230px;
	margin: auto;
}

#name h1 {
	font-size: 2.5em;
	font-weight: bolder;
	font-family: 'Noto Sans SC', sans-serif;
	color: #3D1B7C;
	margin-bottom: 6px;
	overflow-y: scroll;
}

#name h2 {
	font-size: 1.5em;
	margin-left: 2px;
	color: #707070	;	
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	border-radius: 100%;
}

#name {
	float: left;
}
